In [1]:
%load_ext autoreload
%autoreload 2

# Importing libraries

In [4]:
from oceanicospy.observations import AQUAlogger,RBR
from datetime import datetime, timedelta

# Data directories and sampling configuration

In [5]:
measurement_paths = ['../data/May2025/AQ/','../data/May2025/RBR/']

sampling_AQ=dict(anchoring_depth=1,sensor_height=0.2,sampling_freq=1,burst_length_s=2048,temperature=False,
                            start_time=datetime(2025,5,9,10,0,0),end_time=datetime(2025,5,19,18,0,0)-timedelta(seconds=1))
sampling_RBR=dict(anchoring_depth=1,sensor_height=0.2,sampling_freq=2,burst_length_s=7200,
                            start_time=datetime(2025,5,9,10,0,0),end_time=datetime(2025,5,19,18,0,0)-timedelta(seconds=0.5))

# Reading and storing data

In [6]:

sampling_data = [sampling_AQ,sampling_RBR]
metadata_list=['AQ1_May_2025_SB','AQ2_May_2025_SB','RBR1_May_2025_SB','RBR2_May_2025_SB']
dict_raw_measurements = dict()
dict_clean_measurements = dict()

for idx,measurement_path in enumerate(measurement_paths):
    print(measurement_path)
    if 'AQ' in measurement_path:
        object_device = AQUAlogger(measurement_path, sampling_data[idx])
    else:
        object_device = RBR(measurement_path,sampling_data[idx])
    print(object_device.last_record_time)

    raw_data = object_device.get_raw_records()
    clean_data = object_device.get_clean_records()
    dict_raw_measurements[metadata_list[idx]] = raw_data
    dict_clean_measurements[metadata_list[idx]] = clean_data

../data/May2025/AQ/
5/19/2025 08:19:03 PM
../data/May2025/RBR/
2025-05-20 12:11:07.500

In [7]:
dict_clean_measurements['RBR1_May_2025_SB']

KeyError: 'RBR1_May_2025_SB'

In [8]:
dict_clean_measurements['AQ2_May_2025_SB']

                         pressure[bar]  depth[m]  burstId    eta[m]
date
2025-05-09 10:00:00.000       1.241829  2.267149        1  0.117985
2025-05-09 10:00:00.500       1.239702  2.246051        1  0.096886
2025-05-09 10:00:01.000       1.235314  2.202530        1  0.053365
2025-05-09 10:00:01.500       1.233978  2.189276        1  0.040110
2025-05-09 10:00:02.000       1.234466  2.194119        1  0.044954
...                                ...       ...      ...       ...
2025-05-19 17:59:57.500       1.228489  2.134836      248 -0.044336
2025-05-19 17:59:58.000       1.228343  2.133389      248 -0.045786
2025-05-19 17:59:58.500       1.226372  2.113838      248 -0.065340
2025-05-19 17:59:59.000       1.226182  2.111960      248 -0.067221
2025-05-19 17:59:59.500       1.231584  2.165540      248 -0.013645

[1785600 rows x 4 columns]